/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */
/* Propiedades Globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
	color: white;
}

/* Seccion Introductoria */
#intro{
    background-size: cover;
    background-position: center;
    background-color: #F78E69;
    padding: 20px 0;
    text-align: center;  
}
#title{
	text-align: right;
	padding: 0 10px 10px 0px;
}
#title h1{
	padding: 10px 20px;
	font-size: 300%;
}
#title p{
	padding-right: 20px;
	padding-bottom: 20px;
}
#image-panda {
	background-image: url("../img/uno.jpg");
	background-size: cover;
	background-position: center;
	padding: 200px 0;
	filter: grayscale(100%);
}

/*Seccion about e imagenes de js*/
#about{
	background-color: #ABE188;
	padding: 50px 300px;
}
/*Seccion about*/
.contenido{
	background-color: #F78E69;
	padding: 20px;
	text-align: center;
}

.contenido h1{
	font-size: 150%;
	padding: 10px;
}

/*Todas las imagenes menos la clase picture-panda*/
img:not(.picture-panda){
	filter: grayscale(100%);
	text-align: center;
	background-size: cover;
    background-position: center;
    width: 100%;
}

/*La primera y segunda imagen*/
.image{
	background-color: #F78E69;
    padding: 20px 0;
}

/*Imagenes traidas de js*/
#imagene-pandas{
	background-color: #ABE188;
	padding: 50px 0px;
	text-align: center;
}

#imagene-pandas h1{
	font-size: 250%
}

.picture-panda{
	margin: 25px;
	border: 10px solid white;
}

/*footer*/
footer{
	background-color: #F78E69;
	text-align: right;
	font-weight: bold;
	padding: 0 10px 10px 0;
}

/**/
/**/
